# IntelliJ project settings
/.idea

# virtualenv
/venv

# python cache
*.pyc

# database
db.sqlite3

# static content
/static/jquery
/static/semantic

# storage
/storage/*

# dependencies
/node_modules
/semantic