# IntelliJ project settings
/.idea

# virtualenv
/venv

# python cache
*.pyc

# database
db.sqlite3

# static content
/static/*
!/static/cloudy.css
!/static/cloud.png
!/static/cloud_space.png
!/static/.gitkeep

# storage
/storage/*

# dependencies
/node_modules
/semantic