{% extends "base/base.html" %}

{% block title %}Cloudy McCloudface{% endblock %}

{% block base_content %}
    {% if user.is_authenticated %}

        {% block content %}{% endblock %}

    {% else %}

        <div class="ui vertical masthead center aligned segment">

            <div class="ui text container">
                <h1 class="ui header">
                    Cloudy McCloudface
                </h1>
                <h2>Hier kommen tolle Inhalte.</h2>
                <a class="ui primary button" href="{% url 'login'%}">Login</a>
            </div>

        </div>

    {% endif %}
{% endblock %}