{% extends "base/base.html" %}

{% block title %}Cloudy McCloudface{% endblock %}

{% block base_content %}
    {% if user.is_authenticated %}

        {% block content %}{% endblock %}

    {% else %}

        <style>
            body {
                background-image: radial-gradient(white, rgba(0, 128, 128, 0.56));
            }

            main, body .grid {
                height: 100%;
            }

            .column {
                max-width: 450px;
            }

            a, a:hover {
                color: teal;
            }
        </style>

        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui raised piled segment">
                    <div class="ui vertically divided grid">

                        <div class="one column row">
                            <div class="column">
                                <img class="ui image" src="/static/cloud_space.png">
                                <h1 class="ui header centered">
                                    <div class="content">
                                        Cloudy McCloudface
                                        <div class="sub header">Your super friendly file cloud</div>
                                    </div>
                                </h1>
                            </div>
                        </div>


                        <div class="two column row">
                            <div class="column">
                                <a href="{% url 'login' %}">
                                    <div class="fluid ui animated fade teal basic huge button" tabindex="0">
                                        <div class="visible content">
                                            Login
                                        </div>
                                        <div class="hidden content">
                                            <i class="sign in icon"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="column">
                                <a href="{% url 'signup' %}">
                                    <div class="fluid ui animated fade teal basic huge button" tabindex="0">
                                        <div class="visible content">
                                            Register
                                        </div>
                                        <div class="hidden content">
                                            <i class="send outline icon"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}