<!DOCTYPE html>{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="{% static "jquery/jquery.js" %}"></script>
    <script src="{% static "semantic/semantic.js" %}"></script>
	<link rel="stylesheet" href="{% static "semantic/semantic.css" %}">
	<link rel="stylesheet" href="{% static "cloudy.css" %}">
</head>
<body>
    <main class="ui page container">

        {% block base_content %}{% endblock %}

	</main>
</body>
</html>