{% block breadcrumb %}
<div class="ui large breadcrumb">
    {% for folder in parents reversed %}
        {% if folder.name == '' %}
            <a href="{% url 'index' %}?path=" class="section ">
                <i class="home icon"></i>
            </a>
        {% else %}
            <a href="{% url 'index' %}?path={{ folder.path }}" class="section">{{ folder.name }}</a>
        {% endif %}
        <i class="right angle icon divider"></i>
    {% endfor %}
    <div class="active section">
        {% if name == '' %}
            <i class="home icon"></i>
        {% else %}
            {{ name }}
        {% endif %}
    </div>
</div>
{% endblock %}