{% block breadcrumb %}
    <div class="ui small breadcrumb">
    {% for folder in parents reversed %}
        {% if folder.name == '' %}
            <a href="{% if is_share %}{% url 'share' %}/{{ url_id }}{% else %}{% url 'index' %}{% endif %}?path=" class="section ">
                <i class="home icon"></i>
            </a>
        {% else %}
            <a href="{% if is_share %}{% url 'share' %}/{{ url_id }}{% else %}{% url 'index' %}{% endif %}?path={{ folder.path }}" class="section">{{ folder.name }}</a>
        {% endif %}
        <i class="right angle icon divider"></i>
    {% endfor %}
    <div class="active section">
        {% if name == '' %}
            <i class="home icon"></i>
        {% else %}
            {{ name }}
        {% endif %}
    </div>
</div>
{% endblock %}