<div class="ui right floated secondary menu">
    <div class="item">
        <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
        </div>
    </div>
    <a class="item" href="{% url 'logout' %}?next={{request.path}}">
        <i class="sign out icon"></i> Logout
    </a>
</div>
<a class="ui floating primary button" href="{% url 'upload' %}?path={{ path }}">
    <i class="cloud upload icon"></i>
    Upload file
</a>
<a class="ui primary button" href="{% url 'newfolder' %}?path={{ path }}">
    <i class="add icon"></i>
    New folder
</a>