<div class="ui top fixed menu">

    <div class="item">
        <h4 class="ui teal header">
            <img class="ui tiny image" src="/static/cloud.png">
            <div class="content">
                Cloudy McCloudface
            </div>
        </h4>
    </div>

    <div class="ui category search item">
        <div class="ui transparent icon input">
            <input class="prompt" type="text" placeholder="Search files...">
            <i class="search link icon"></i>
        </div>
        <div class="results"></div>
    </div>

    <a class="right item" href="{% url 'logout' %}?next={{ request.path }}">
        <i class="sign out icon"></i> Logout
    </a>

</div>