{% load staticfiles %}

{% block details %}

    {% if details.is_file %}

        {% if 'image' in details.type %}
            <h2 class="ui sub header">Preview</h2>
            <span>
                <img class="ui float image" src="data:{{ details.type }};base64, {{ details.data }}" alt="Image"/>
            </span>
        {% endif %}
        {% if 'text' in details.type %}
            <h2 class="ui sub header">Preview</h2>
            <span>
                <div class="ui card"><div class="content">{{ details.text|truncatechars:200 }}</div></div>
            </span>
        {% endif %}

        <h2 class="ui sub header">File name</h2>
        <span>{{ details.name }}</span>
        <h2 class="ui sub header">File type</h2>
        <span>{{ details.type }}</span>
        <h2 class="ui sub header">File size</h2>
        <span>{{ details.size|filesizeformat }}</span>
        <h2 class="ui sub header">Last modified</h2>
        <span>{{ details.mdate|date:"D d M Y, H:s" }}</span>
    {% else %}

        <div class="centered">
            <div class="ui big teal buttons">
                <a class="ui icon button" href="{% url 'upload' %}?path={{ path }}">
                    <i class="file icon"></i>
                </a>
                <div class="or"></div>
                <a class="ui icon button" href="{% url 'newfolder' %}?path={{ path }}">
                    <i class="folder open icon"></i>
                </a>
            </div>
            <p></p>
            <p>Select a file from the list to show file details.</p>
        </div>

    {% endif %}

{% endblock %}