{% extends "base/base_menu.html" %}

{% block title %}Cloudy McCloudface{% endblock %}

{% block content %}

    <div class="ui vertical segment">
        <h1 class="ui header">
            Cloudy McCloudface
        </h1>
        <div class="ui hidden divider"></div>
        {% include 'base/menu.html' %}
    </div>

    <div class="ui vertical segment">

        {% include 'base/breadcrumb.html' %}

        {% if details.is_file %}
            <h2>Edit file</h2>
        {% else %}
            <h2>Edit directory</h2>
        {% endif %}
        <form class="ui form" method="post" enctype="multipart/form-data" action="{% url 'edit' %}?path={{ path }}&edit_path={{ edit_path }}">
            {% csrf_token %}

            {% if details.is_file %}
                <div class="field">
                    <label>File name</label>
                    <input type="text" name="name" value="{{ details.name }}"/>
                </div>
                <div class="field">
                    <label>File content</label>
                    <textarea name="filecontent">{{ details.text }}</textarea>
                </div>

            {% else %}
                <div class="field">
                    <label>Directory name</label>
                    <input type="text" name="foldername" value="{{ item_name }}"/>
                </div>
            {% endif %}

            <input type="hidden" value="{{ details.is_file }}" name="item_type"/>
            <button class="ui primary button" type="submit">Save</button>
            <a class="ui button" href="{% url 'index' %}?path={{ path }}">Cancel</a>
            <div class="ui error message"></div>
        </form>

    </div>


{% endblock %}