{% extends "base_menu.html" %}

{% block title %}Cloudy McCloudface{% endblock %}

{% block content %}

    <div class="ui vertical segment">
        <h1 class="ui header">
            Cloudy McCloudface
        </h1>
        <div class="ui hidden divider"></div>
        {% include 'menu.html' %}
    </div>

    <div class="ui vertical segment">

        {% include 'breadcrumb.html' %}

        <div class="ui middle aligned selection list">
            {% for item in items %}
                <div class="item">
                    {% if item.is_dir %}
                        <i class="folder icon"></i>
                    {% else %}
                        <i class="file icon"></i>
                    {% endif %}
                    <div class="content">
                        <div class="header">
                            <a href="?path={{ path }}/{{ item.name }}">
                                {{ item.name }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}