{% extends "base/base_menu.html" %}

{% load humanize %}

{% block title %}Cloudy McCloudface{% endblock %}

{% block content %}

    <style>
        #details {
            background-color: whitesmoke;
            padding: 2em 1em;
        }

        .ten.wide.column {
            padding-top: 20px !important;
        }

        button i.icon {
            margin: 0;
        }

        button a, button a:hover {
            color: white;
        }

        tr.details {
            cursor: pointer;
        }
    </style>

    {% include 'base/menu.html' %}

    <div class="ui equal width grid">
        <div class="stretched row">
            <div class="ten wide column">
                <div class="ui two column grid">
                    <div class="middle aligned thirteen wide column">
                        {% include 'base/breadcrumb.html' %}
                    </div>

                    <div class="right floated three wide column">
                        <div class="large teal ui buttons">
                            <button class="ui icon button">
                                <a href="{% url 'upload' %}?path={{ path }}"><i class="file icon"></i></a>
                            </button>
                            <button class="ui icon button">
                                <a href="{% url 'newfolder' %}?path={{ path }}"><i class="folder open icon"></i></a>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="ui vertical segment">
                    <table class="ui very basic selectable table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th class="right aligned">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr class="details" id="{{ item.webpath }}">
                                <td class="collapsing">
                                    {% if item.is_dir %}
                                        <i class="folder icon"></i>
                                    {% else %}
                                        <i class="file outline icon"></i>
                                    {% endif %}
                                    {{ item.name }}
                                </td>
                                <td>
                                    <div class="ui right floated icon menu">
                                        {% if not item.is_dir %}
                                            <a class="popup icon item"
                                               href="{% url 'download' %}?path={{ item.webpath }}">
                                                <i class="download icon" data-content="Download"
                                                   data-position="bottom right"></i>
                                            </a>
                                        {% endif %}
                                        {% if 'image' not in item.type or item.is_dir %}
                                            <a class="rename icon item"
                                               href="{% url 'edit' %}?path={{ item.webpath }}">
                                                <i class="write icon" data-content="Rename"
                                                   data-position="bottom right"></i>
                                            </a>
                                        {% endif %}
                                        <a class="popup icon item"
                                           href="{% url 'delete' %}?path={{ item.webpath }}">
                                            <i class="trash icon" data-content="Delete"
                                               data-position="bottom right"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="column">
                <div class="ui vertical segment" id="details">
                    {% include 'index/details.html' %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // Mark selected file
        $(function () {
            var pathname = window.location.href;
            pathname = pathname.split('?path=');
            pathname = pathname[1].trim();
            $(document.getElementById(pathname)).addClass('active');
        });

        $('.details').click(function () {
            location.href = "?path=" + this.id;
        });
    </script>

{% endblock %}