{% extends "base_menu.html" %}

{% block title %}Cloudy McCloudface{% endblock %}

{% block content %}
    <div class="ui segment">

        <div class="ui segement">Path:
            <div class="ui horizontal celled selection list">
                {% for folder in paths %}
                    <div class="item">
                        <a href="?path=">
                            {{ folder }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="ui middle aligned selection list">
            {% for item in items %}
                <div class="item">
                    {% if item.type == 'dir' %}
                        <i class="folder icon"></i>
                    {% else %}
                        <i class="file icon"></i>
                    {% endif %}
                    <div class="content">
                        <div class="header">
                            <a href="?path={{ path_str }}/{{ item.name }}">
                                {{ item.name }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}