{% extends "base/base_menu.html" %}

{% block title %}Cloudy McCloudface{% endblock %}

{% block content %}

    <div class="ui vertical segment">
        <h1 class="ui header">
            Cloudy McCloudface
        </h1>
        <div class="ui hidden divider"></div>
        {% include 'base/menu.html' %}
    </div>

    <div class="ui vertical segment">

        {% include 'base/breadcrumb.html' %}

        <h2>Share link</h2>
        <h3>Path</h3>
        <div class="ui label">{{ share_path }}</div>
        <h3>Share</h3>
        <div class="ui list">
            URL: <a href="{{ share_url }}" class="item">{{ share_url }}</a>
        </div>

        <div class="">
            <a class="ui red button" href="{% url 'share' %}/{{ url_id }}/delete">Delete</a>
            <a class="ui button" href="{% url 'index' %}?path={{ path }}">Cancel</a>
        </div>


    </div>
{% endblock %}